# MEASUREMENT UNITS:
# TIME     = SECONDS
# DISTANCE = METERS
# VELOCITY = METERs/SECONDS

[SIMULATION]
DIMX=1000
DIMY=1000
TOROIDAL=no
TIME=3600
STRATEGY=011
FILE=100

[RATS]
TYPES=3

[RAT0]
# WIFI-B
RANGE=80
CAPACITY=5

[RAT1]
# WIFI-G
RANGE=60
CAPACITY=8

[RAT2]
# GSM
RANGE=600
CAPACITY=20

[TERMINALS]
TYPES=1

[TERMINAL0]
PROBABILITY=1
RATID 2

[TERMINAL1]
PROBABILITY=0.20
RATID 1 2

[TERMINAL2]
PROBABILITY=0.50
RATID 0 1

[SERVICES]
TYPES=3

[SERVICE0]
# DATA TIA=InterArrival Time, TS=Service Time
TIA=120
TS=60
CAPACITY=1
REALTIME=no

[SERVICE1]
# VOICE
TIA=120
TS=180
CAPACITY=1
REALTIME=yes

[SERVICE2]
# VIDEO
TIA=200
TS=180
CAPACITY=2
REALTIME=yes

[USERS]
NUMBER=200
TYPES=2

[USER0]
# CONSUMER
PROBABILITY=0.7
SERVICES 0 1

[USER1]
# BUSINESS
PROBABILITY=0.3
SERVICES 0 1 2

[MOVEMENTS]
TYPES=1

[MOVEMENT0]
MODEL=RWP_REFLECT
PROBABILITY=1
SPEEDMIN=4
SPEEDMAX=6
PAUSEMIN=20
PAUSEMAX=40
ALPHAMIN=0.5
ALPHAMAX=0.6
TIMEMIN=100
TIMEMAX=120

[BASESTATIONS]
TYPES=3

[BS0]
RATID=0
# MinDistance should be about 65% of max RAT
MINDISTANCE=70

[BS1]
RATID=1
# MinDistance should be about 65% of max RAT
MINDISTANCE=50

[BS2]
RATID=2
# MinDistance should be about 65% of max RAT
MINDISTANCE=400

[OPERATORS]
TYPES=2

[OPERATOR0]
# BSTYPE=NUMBEROFBS
BS0=0
BS1=0
BS2=4
PRICEBS0=0
PRICEBS1=0
PRICEBS2=0

[OPERATOR1]
BS0=0
BS1=0
BS2=2
PRICEBS0=0
PRICEBS1=0
PRICEBS2=0

[MARKETSHARE]
# OP_ID MARKET_PROB
# SUM(MARKET_PROB)=1
OP0=0.80
OP1=0.20

[BUSINESSMODEL]
TYPES=2

[BUSINESS0]
MODEL=COOPERATIVE
OPID 1 2

[BUSINESS1]
MODEL=COMPETITIVE
OPID 0

[SNAPSHOTS]
SETUP=OFF
FILE=001
STEP=1

[TRACEFILES]
# SETUP=NO_TRACES    Simulacion pura, sin trazas
# SETUP=MAKE_TRACES  Obtener trazas para replicar escenario en otra simulacion
# SETUP=LOAD_TRACES  Utilizar trazas ya creadas para replicando un escenario
SETUP=NO_TRACES
#SETUP=MAKE_TRACES
#SETUP=LOAD_TRACES
MOVEMENT_TRACE_FILE=movements.trc
SERVICE_TRACE_FILE=services.trc
UTS_LIST_FILE=utslist.trc
BSS_LIST_FILE=bsslist.trc

[OPTIMIZER]
# TYPE=RANDOM | FILE
TYPE=FILE
FILE=001

[PRICEPARAMS]
# lower threshold of load available
BETA=0.2
# upper threshold of load available
GAMMA=0.8
# lower threshold of price
ALPHA=0.3

[CONSTRAINTS]
QUALITY=0.50
HANDOVER=0.00
OPERATOR=0.00
LOAD=0.50
PRICE=0.0

[MONITORING]
PMSETUP=ON
# Porcentaje de la duracion del servicio utilizado como ranura de monitorizacion
PMSTEP=0.25
LQSETUP=ON
# Porcentaje de la duracion del servicio utilizado para evaluar LQ para estadisticas
LQSTEP=0.10
# Porcentaje de la duracion de la simulacion utilizado para evaluar la carga de las BSs para estadisticas
LDSTEP=0.05